body {
    margin: 25px;
    display: flex;
}

h1 {
    background-image: linear-gradient(to right, blue, black);
}

#banner {
    max-width: 100%;
}

#searchBtn{
    width: 5px;
    height: 25px;
}

#todayCard .div.col-12 {
    margin: 50px;
}

.weatherTodayCard {
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
    }

    #fiveDayForecast {
        padding: 1rem;
        border: 1px solid black;
        margin: 100px;
        }

    @media (max-width:1400px) {
        body {
            margin: 10px;
        }
    }

@media (max-width: 1024px) {
    body {
        margin: 0px;
        flex-direction: column;
    }
}