body {
    margin: 25px;
    display: flex;
}

h1 {
    background-image: linear-gradient(to right, blue, black);
}

#searchBtn{
    width: 5px;
    height: 25px;
}

.card {
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
    }


    @media (max-width:1400px) {
        body {
            margin: 10px;
        }
    }

@media (max-width: 1024px) {
    body {
        margin: 0px;
        flex-direction: column;
    }
}