
.container{
    width: auto;
    box-shadow: 0 4px 8px 0;
    border-radius: 5px;
}

.banner {
    max-width: 100%;
    min-width: 100%;
    background-image: linear-gradient(to right, blue, black);
    color: white;
    text-align: center;
    height: 75px;
    font-size: 50px;
    text-align: 50%;
}

#cityInputBar{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#clearHistBtn{
    margin-right: center;
    margin-left: auto;
}

#search-box {
    background-image: linear-gradient(to right, lightblue, lightgreen);
    text-align: center;
}

#searchBtn{
    width: 60px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

#statusMessage {
    text-align: center;
    color:cornflowerblue;
    font-size:25px;
}

#currentDay{
    width: auto;
    box-shadow: 0 4px 8px 0;
    border-radius: 5px;
    max-width: 50%;
}

.fiveDayForecast {
    padding: 5rem;
    border: 5px solid black;
    margin: 50px;
    max-width: 50%;
    box-shadow: 0 4px 8px 0;
    border-radius: 5px;
    text-align: center;
        }

.card {
    width: auto;
    box-shadow: 0 4px 8px 0;
    border-radius: 5px;
    text-align: center;
}        



    @media (max-width:1400px) {
        body {
            margin: 10px;
        }
    }

@media (max-width: 1024px) {
    body {
        margin: 0px;
        flex-direction: column;
    }
}